<template>
  <mwc-snackbar ref="create-error"></mwc-snackbar>

  <div style="display: flex; flex-direction: column">
    <span style="font-size: 18px">Create {{title_case entry_type.name}}</span>
  
{{#each entry_type.fields}}
  {{#if widget}}
    <div style="margin-bottom: 16px">
    {{#if (not (eq cardinality "vector") )}}
      {{> (concat field_type "/" widget "/edit/render") label=(title_case field_name) variable_to_change=(concat "" (camel_case field_name) ) required=(eq cardinality "single")}}
    {{else}}
      {{> Vec/edit/render field_name=field_name field_type=field_type widget=widget }}
    {{/if}}

    </div>

 {{/if}}
{{/each}}
  
    <mwc-button 
      raised
      label="Create {{title_case entry_type.name}}"
      :disabled="!is{{pascal_case entry_type.name}}Valid"
      @click="create{{pascal_case entry_type.name}}"
    ></mwc-button>
  </div>
</template>
<script lang="ts">
import { defineComponent, inject, ComputedRef } from 'vue';
import { InstalledCell, AppWebsocket, InstalledAppInfo, Record, AgentPubKey, EntryHash, ActionHash } from '@holochain/client';
import { {{pascal_case entry_type.name}} } from './types';
import '@material/mwc-button';
import '@material/mwc-icon-button';
import '@material/mwc-snackbar';
import { Snackbar } from '@material/mwc-snackbar';
{{#each entry_type.fields}}
  {{#if widget}}
{{> (concat field_type "/" widget "/edit/imports") }}

  {{/if}}
{{/each}}

export default defineComponent({
  data(): {
{{#each entry_type.fields}}
  {{#if widget}}
    {{#if (not (eq cardinality "vector" ) )}}
    {{camel_case field_name}}: {{> (concat field_type "/type")}} | undefined;
    {{else}}
    {{camel_case field_name}}: Array<{{> (concat field_type "/type")}} | undefined>;
    {{/if}}
  {{/if}}
{{/each}}
  } {
    return { 
      {{#each entry_type.fields}}
        {{#if widget}}
          {{#if (not (eq cardinality "vector" ) )}}
      {{camel_case field_name}}: undefined,
          {{else}}
      {{camel_case field_name}}: [],
          {{/if}}
        {{/if}}
      {{/each}}
    }
  },
  props: {
    {{#each entry_type.fields}}
      {{#if (not widget)}}
    {{camel_case field_name}}: {
      type: null,
      required: true
    },
      {{/if}}
    {{/each}}
  },
  computed: {
    is{{pascal_case entry_type.name}}Valid() {
      return true{{#each entry_type.fields}}{{#if widget}} && {{#if (eq cardinality "single")}}this.{{camel_case field_name}} !== undefined{{/if}}{{#if (eq cardinality "vector")}}this.{{camel_case field_name}}.every(e => e !== undefined){{/if}}{{/if}}{{/each}}
    },
  },
  methods: {
    async create{{pascal_case entry_type.name}}() {
      const cellData = this.appInfo.cell_data.find((c: InstalledCell) => c.role_id === '{{dna_role_id}}')!;
      const {{camel_case entry_type.name}}: {{pascal_case entry_type.name}} = { {{#each entry_type.fields}}
        {{#if (eq cardinality "single") }}
        {{snake_case field_name}}: this.{{camel_case field_name}}!,
        {{else}}
        {{snake_case field_name}}: this.{{camel_case field_name}}{{#if (eq cardinality "vector") }} as Array<{{> (concat field_type "/type") }}>{{/if}},
        {{/if}}
  {{/each}}
      };

      try {
        const record: Record = await this.appWebsocket.callZome({
          cap_secret: null,
          cell_id: cellData.cell_id,
          zome_name: '{{coordinator_zome_manifest.name}}',
          fn_name: 'create_{{snake_case entry_type.name}}',
          payload: {{camel_case entry_type.name}},
          provenance: cellData.cell_id[1]
        });
        this.$emit('{{kebab_case entry_type.name}}-created', record.signed_action.hashed.hash);
      } catch (e: any) {
        const errorSnackbar = this.$refs['create-error'] as Snackbar;
        errorSnackbar.labelText = `Error creating the {{lower_case entry_type.name}}: ${e.data.data}`;
        errorSnackbar.show();
      }
    },
  },
  emits: ['{{kebab_case entry_type.name}}-created'],
  setup() {
    const appWebsocket = (inject('appWebsocket') as ComputedRef<AppWebsocket>).value;
    const appInfo = (inject('appInfo') as ComputedRef<InstalledAppInfo>).value;
    return {
      appInfo,
      appWebsocket,
    };
  },
})
</script>
