{{{{raw}}}} {{ {{{{/raw}}}} {{#each field_type.variants}}{{#unless @last}} {{../variable_to_read}}.type === '{{pascal_case this}}' ?{{/unless}} html`<span>{{title_case this}}</span>`{{#unless @last}} :{{/unless}} {{/each}} {{{{raw}}}} }} {{{{/raw}}}}
