import { Link, SignalCb, SignalType, HolochainError } from '@holochain/client';
import  { FC, useCallback, useState, useEffect, useContext } from 'react';

import {{pascal_case ../entry_type.name}}Detail from './{{pascal_case ../entry_type.name}}Detail';
import type { {{pascal_case ../coordinator_zome_manifest.name}}Signal } from './types';
import { ClientContext } from '../../ClientContext';

const {{pascal_case (plural ../entry_type.name)}}For{{pascal_case linked_from.name}}: FC<{{pascal_case (plural ../entry_type.name)}}For{{pascal_case linked_from.name}}Props> = ({ {{camel_case linked_from.singular_arg}} }) => {
  const {client} = useContext(ClientContext);
  const [hashes, setHashes] = useState<Uint8Array[]>([]);
  const [loading, setLoading] = useState(false);
  const [error, setError] = useState<HolochainError | undefined>();

  const fetch{{pascal_case (plural ../entry_type.name)}} = useCallback(async () => {
    setLoading(true)
    try {
      const links: Link[] = await client?.callZome({
        cap_secret: null,
        role_name: '{{../dna_role_name}}',
        zome_name: '{{../coordinator_zome_manifest.name}}',
        fn_name: 'get_{{snake_case (plural ../entry_type.name)}}_for_{{snake_case linked_from.name}}',
        payload: {{camel_case linked_from.singular_arg}}
      });
      if (links?.length) {
        setHashes(links.map((l) => l.target));
      }
    } catch (e) {
      setError(e as HolochainError);
    } finally {
      setLoading(false);
    }
  }, [client]);

  const handleSignal: SignalCb  = useCallback(async (signal) => {
    if (!(SignalType.App in signal)) return
    if (signal.App.zome_name !== '{{../coordinator_zome_manifest.name}}') return;
    const payload = signal.App.payload as {{pascal_case ../coordinator_zome_manifest.name}}Signal;
    if (!(payload.type === 'EntryCreated' && payload.app_entry.type === '{{pascal_case ../entry_type.name}}')) return;
    await fetch{{pascal_case (plural ../entry_type.name)}}();
  }, [fetch{{pascal_case (plural ../entry_type.name)}}]);

  useEffect(() => {
    fetch{{pascal_case (plural ../entry_type.name)}}();
    client?.on('signal', handleSignal);
  }, [client, handleSignal]);

  if (loading) {
    return <progress />;
  }

  return (
    <div>
      {error ? (
        <div className="alert">Error fetching the {{plural ../entry_type.name}}: {error.message}</div>
      ) : hashes.length > 0 ? (
        <div>
          {hashes.map((hash, i) => (
            <{{pascal_case ../entry_type.name}}Detail key={i} {{camel_case ../entry_type.name}}Hash={hash} on{{pascal_case ../entry_type.name}}Deleted={fetch{{pascal_case (plural ../entry_type.name)}}} />
          ))}
        </div>
      ) : (
        <div className="alert">No {{plural ../entry_type.name}} found for this {{lower_case linked_from.name}}.</div>
      )}
    </div>
  );
};

interface {{pascal_case (plural ../entry_type.name)}}For{{pascal_case linked_from.name}}Props {
  {{camel_case linked_from.singular_arg}}: Uint8Array
}

export default {{pascal_case (plural ../entry_type.name)}}For{{pascal_case linked_from.name}};