<label htmlFor="{{label}}">{{label}}</label>
{{#if (eq cardinality "vector")}}
<input
  type="number"
  name="{{label}}"
  {{#if variable_to_read}}
  value={ {{variable_to_read}} }
  {{/if}}
  onChange={(e) => {
    set{{pascal_case variable_to_change}}(prevValues => prevValues?.map((v, idx) => {
      if ({{key}} === idx) {
        v = parseInt(e.target.value);
      }
      return v;
    }))
  }}
/>
{{else}}
<input type="number" name="{{label}}" {{#if variable_to_read}}value={ {{variable_to_read}} }{{/if}} onChange={e => set{{pascal_case variable_to_change}}(parseInt(e.target.value))} />
{{/if}}