<label htmlFor="{{label}}">{{label}}</label>
<input 
	id="{{label}}"
	name="{{label}}"
	type="datetime-local" 
		{{#if variable_to_read}}value={new Date({{variable_to_read}}).toISOString()}{{/if}}
	onChange={(e) => set{{pascal_case variable_to_change}}(e.target.value)}
	{{#if required}}required{{/if}}
/>