<label for="{{label}}">{{label}}:</label>
<select name="{{label}}" bind:value="{{../variable_to_read}}?.type">
{{#each field_type.variants}}
  <option value="{{this}}">{{title_case this}}</option>
{{/each}}
</select>