<label for="{{label}}">{{label}}</label>
{{#if (eq cardinality "vector")}}
<input
  .key=${ {{key}} }
  name="{{label}}"
  type="datetime-local"
  {{#if variable_to_read}}
  value=${new Date({{variable_to_read}} / 1000 - (new Date({{variable_to_read}} / 1000).getTimezoneOffset() * 60000)).toISOString().slice(0, 16)}
  {{/if}}
  @change=${(e: any) => {
     {{variable_to_change}} = {{variable_to_change}}.map((v, idx) => {
      if ({{key}} == idx) {
        v = Math.floor(new Date(e.target.value).getTime() * 1000);
      }
      return v;
    });
  } }
  {{#if required}}
  required
  {{/if}}
>
{{else}}
<input
  name="{{label}}"
  type="datetime-local"
  {{#if variable_to_read}}
  value=${new Date({{variable_to_read}} / 1000 - (new Date({{variable_to_read}} / 1000).getTimezoneOffset() * 60000)).toISOString().slice(0, 16)}
  {{/if}}
  @change=${(e: any) => { {{variable_to_change}} = Math.floor(new Date(e.target.value).getTime() / 1000); } }
  {{#if required}}
  required
  {{/if}}
>
{{/if}}