<label for="{{label}}">{{label}}</label>
<input
  name="{{label}}"
  type="datetime-local"
  {{#if variable_to_read}}
  value=${new Date({{variable_to_read}} / 1000 - (new Date({{variable_to_read}} / 1000).getTimezoneOffset() * 60000)).toISOString().slice(0, 16)}
  {{/if}}
  @change=${(e: CustomEvent) => { {{variable_to_change}} = Math.floor(new Date(e.target.value).getTime() / 1000); } }
  {{#if required}}
  required
  {{/if}}
/>