<h4>{{title_case field_name}}</h4>

${this._{{camel_case field_name}}.map((el, i) => html`{{> (concat field_type.type "/" widget "/edit/render") label="" variable_to_read="el" variable_to_change=(concat "this._" (camel_case field_name) "[i]" ) }} }`)}

<button  @click=${() => { this._{{camel_case field_name}} = [...this._{{camel_case field_name}}, {{> (concat field_type.type "/" widget "/initial-value") field_type=field_type}}]; } }>
  {{title_case field_name}}
</button>