import { LitElement, html } from 'lit';
import { state, customElement, property } from 'lit/decorators.js';
import { InstalledCell, AppWebsocket, Record, ActionHash, InstalledAppInfo } from '@holochain/client';
import { contextProvided } from '@lit-labs/context';
import { decode } from '@msgpack/msgpack';
import { appInfoContext, appWebsocketContext } from '../../contexts';
import { {{pascal_case entry_type.singular_name}} } from './types';
import '@material/mwc-circular-progress';
{{#each entry_type.fields}}
{{> (concat field_type "/" widget "/detail/imports") }}
{{/each}}

@customElement('{{kebab_case entry_type.singular_name}}-detail')
export class {{pascal_case entry_type.singular_name}}Detail extends LitElement {
  @property()
  {{camel_case entry_type.singular_name}}Hash!: ActionHash;

  @state()
  _{{camel_case entry_type.singular_name}}: {{pascal_case entry_type.singular_name}} | undefined;

  @contextProvided({ context: appWebsocketContext })
  appWebsocket!: AppWebsocket;
  @contextProvided({ context: appInfoContext })
  appInfo!: InstalledAppInfo;

  async firstUpdated() {
    const cellData = this.appInfo.cell_data.find((c: InstalledCell) => c.role_id === '{{dna_role_id}}')!;
    const record: Record | undefined = await this.appWebsocket.callZome({
      cap_secret: null,
      cell_id: cellData.cell_id,
      zome_name: '{{coordinator_zome_manifest.name}}',
      fn_name: 'get_{{snake_case entry_type.singular_name}}',
      payload: this.{{camel_case entry_type.singular_name}}Hash,
      provenance: cellData.cell_id[1]
    });
    if (record) {
      this._{{camel_case entry_type.singular_name}} = decode((record.entry as any).Present.entry) as {{pascal_case entry_type.singular_name}};
    }
  }

  render() {
    if (!this._{{camel_case entry_type.singular_name}}) {
      return html`<div style="display: flex; flex: 1; align-items: center; justify-content: center">
        <mwc-circular-progress indeterminate></mwc-circular-progress>
      </div>`;
    }
    return html`
      <div style="display: flex; flex-direction: column">
        <span style="font-size: 18px">{{pascal_case entry_type.singular_name}}</span>
	
	{{#each entry_type.fields}}
	<div style="display: flex; flex-direction: row">
	  <span><strong>{{title_case field_name}}</strong></span>
  	  <span style="white-space: pre-line">{{> (concat field_type "/" widget "/detail/render") variable_to_read=(concat "this._" (camel_case ../entry_type.singular_name) "." (snake_case field_name) ) }}</span>
	</div>
	{{/each}}
	
      </div>
    `;
  }
}
