<mwc-textfield outlined label="{{label}}" {{#if variable_to_read}}value={ {{variable_to_read}} }{{/if}} on:input={e => { {{variable_to_change}} = e.target.value; } } {{#if required}}required{{/if}}></mwc-textfield>
<div>
	<label for="{{label}}">{{label}}</label>
	<input 
		id="{{label}}"
		type="text" 
		name="{{label}}"
		{{#if variable_to_read}}value={ {{variable_to_read}} }{{/if}}
		onChange={(e) => set{{pascal_case variable_to_change}}(e.target.value)} 
	/>
</div>