import { LitElement, html } from 'lit';
import { state, property, customElement } from 'lit/decorators.js';
import { AgentPubKey, Link, EntryHash, ActionHash, Record, AppClient, NewEntryAction, SignalType } from '@holochain/client';
import { consume } from '@lit/context';
import { Task } from '@lit/task';

import { sharedStyles } from '../../shared-styles';
import { clientContext } from '../../contexts';
import { {{pascal_case coordinator_zome_manifest.name}}Signal } from './types';

import './{{kebab_case from_referenceable.name}}-detail';

@customElement('{{kebab_case (plural from_referenceable.name)}}-for-{{kebab_case to_referenceable.name}}')
export class {{pascal_case (plural from_referenceable.name)}}For{{pascal_case to_referenceable.name}} extends LitElement {
  @consume({ context: clientContext })
  client!: AppClient;

  @property({
    hasChanged: (newVal: {{to_referenceable.hash_type}}, oldVal: {{to_referenceable.hash_type}}) => newVal?.toString() !== oldVal?.toString()
  })
  {{camel_case to_referenceable.singular_arg}}!: {{to_referenceable.hash_type}};

  _fetch{{pascal_case (plural from_referenceable.name)}} = new Task(this, ([{{camel_case to_referenceable.singular_arg}}]: readonly {{to_referenceable.hash_type}}[]) => this.client.callZome({
      role_name: '{{dna_role_name}}',
      zome_name: '{{coordinator_zome_manifest.name}}',
      fn_name: 'get_{{snake_case (plural from_referenceable.name)}}_for_{{snake_case to_referenceable.name}}',
      payload: {{camel_case to_referenceable.singular_arg}},
  }) as Promise<Array<Link>>, () => [this.{{camel_case to_referenceable.singular_arg}}]);

  @state()
  signaledHashes: Array<{{from_referenceable.hash_type}}> = [];

  firstUpdated() {
    if (!this.{{camel_case to_referenceable.singular_arg}}) {
      throw new Error(`The {{camel_case to_referenceable.singular_arg}} property is required for the {{kebab_case (plural from_referenceable.name)}}-for-{{kebab_case to_referenceable.name}} element`);
    }

    this.client?.on('signal', signal => {
      if (!(SignalType.App in signal)) return;
      if (signal.App.zome_name !== '{{coordinator_zome_manifest.name}}') return;
      const payload = signal.App.payload as {{pascal_case coordinator_zome_manifest.name}}Signal;
      if (payload.type !== 'LinkCreated') return;
      if (payload.link_type !== '{{pascal_case bidirectional}}') return;

      this.signaledHashes = [payload.action.hashed.content.target_address, ...this.signaledHashes];
    });
  }

  renderList(hashes: Array<{{to_referenceable.hash_type}}>) {
    if (!hashes.length) return html`<div class="alert">No {{lower_case (plural from_referenceable.name)}} found for this {{lower_case to_referenceable.name}}</div>`;

    return html`
      <div>
        ${hashes.map(hash =>
          html`<{{kebab_case from_referenceable.name}}-detail .{{camel_case from_referenceable.name}}Hash=${hash} style="margin-bottom: 16px;"></{{kebab_case from_referenceable.name}}-detail>`
        )}
      </div>
    `;
  }

  render() {
    return this._fetch{{pascal_case (plural from_referenceable.name)}}.render({
      pending: () => html`<progress></progress>`,
      complete: (links) => this.renderList([...this.signaledHashes, ...links.map(l => l.target)]),
      error: (e: any) => html`<div class="alert">Error fetching the {{lower_case (plural from_referenceable.name)}}: ${e.message}.</div>`
    });
  }

  static styles = sharedStyles;
}