<template>
  <progress v-if="loading"></progress>
  <div v-else>
    <div class="alert" v-if="error">
      Error fetching the {{lower_case (plural from_referenceable.name)}}: {{ error.message }}.
    </div>
    <div v-else-if="hashes && hashes.length > 0">
      <{{pascal_case from_referenceable.name}}Detail
        v-for="(hash, i) in hashes"
        :key="i"
        :{{kebab_case from_referenceable.name}}-hash="hash"
      />
    </div>
    <div class="alert" v-else>
      No {{lower_case (plural from_referenceable.name)}} found for this {{lower_case to_referenceable.name}}.
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, toRaw, inject, defineProps } from 'vue';
import { decode } from '@msgpack/msgpack';
import { Link, HolochainError, SignalType, ActionHash, EntryHash } from '@holochain/client';
import { ClientKey } from './clientProvider';
import {{pascal_case from_referenceable.name}}Detail from './{{pascal_case from_referenceable.name}}Detail.vue';
import type { {{pascal_case coordinator_zome_manifest.name}}Signal } from './types';

const props = defineProps<{ {{camel_case to_referenceable.singular_arg}}: any }>()

const hashes = ref<Array<{{from_referenceable.hash_type}}> | undefined>(undefined);
const loading = ref(false);
const error = ref<HolochainError | undefined>(undefined);

const { client } = inject(ClientKey)!;

const fetchData = async () => {
  try {
    loading.value = true;
    const links: Array<Link> = await client.value.callZome({
      role_name: '{{dna_role_name}}',
      zome_name: '{{coordinator_zome_manifest.name}}',
      fn_name: 'get_{{snake_case (plural from_referenceable.name)}}_for_{{snake_case to_referenceable.name}}',
      payload: props.{{camel_case to_referenceable.singular_arg}},
    });
    hashes.value = links.map(l => l.target);
  } catch(e) {
    error.value = e as HolochainError;
  } finally {
    loading.value = false;
  }
};

onMounted(async () => {
  if (!props.{{camel_case to_referenceable.singular_arg}}) {
    throw new Error(
      `The {{camel_case to_referenceable.singular_arg}} input is required for the {{pascal_case (plural from_referenceable.name)}}For{{pascal_case to_referenceable.name}} element`
    );
  }

  await fetchData();

  toRaw(client.value)?.on('signal', signal => {
    if (!(SignalType.App in signal)) return;
    if (signal.App.zome_name !== '{{coordinator_zome_manifest.name}}') return;
    const payload = signal.App.payload as {{pascal_case coordinator_zome_manifest.name}}Signal;
    if (payload.type !== 'LinkCreated') return;
    if (payload.link_type !== '{{pascal_case bidirectional}}') return;
    if (hashes.value) hashes.value.push(payload.action.hashed.content.target_address);
  });
});
</script>