<label for="{{label}}">{{label}}</label>
<input type="checkbox" name="{{label}}" .checked=${ {{variable_to_read}} } @change=${(e: CustomEvent) => { {{variable_to_change}} = (e.target as any).checked;} } />