<template>
  <div v-if="records" style="display: flex; flex-direction: column">
    <{{pascal_case to_entry_type}}Detail 
      v-for="record in records" 
      :action-hash="record.signed_action.hashed.hash" 
      style="margin-bottom: 8px">
    </{{pascal_case to_entry_type}}Detail>
  </div>

  <div v-else style="display: flex; flex: 1; align-items: center; justify-content: center">
    <mwc-circular-progress indeterminate></mwc-circular-progress>
  </div>

</template>

<script lang="ts">
import { defineComponent, inject, ComputedRef } from 'vue';
import { decode } from '@msgpack/msgpack';
import { InstalledCell, AppWebsocket, InstalledAppInfo, Record } from '@holochain/client';
import '@material/mwc-circular-progress';
import {{pascal_case to_entry_type}}Detail from './{{pascal_case to_entry_type}}Detail.vue';

export default defineComponent({
  components: {
    {{pascal_case to_entry_type}}Detail
  },
  props: {
    actionHash: {
      type: Object,
      required: true
    }
  },
  data(): { records: Array<Record> | undefined } {
    return {
      records: undefined
    }
  },
  async mounted() {
    const cellData = this.appInfo.cell_data.find((c: InstalledCell) => c.role_id === '{{dna_role_id}}')!;

    this.records = await this.appWebsocket.callZome({
      cap_secret: null,
      cell_id: cellData.cell_id,
      zome_name: '{{coordinator_zome_name}}',
      fn_name: 'get_{{snake_case to_entry_type}}_for_{{snake_case from_entry_type}}',
      payload: this.actionHash,
      provenance: cellData.cell_id[1]
    });
  },
  setup() {
    const appWebsocket = (inject('appWebsocket') as ComputedRef<AppWebsocket>).value;
    const appInfo = (inject('appInfo') as ComputedRef<InstalledAppInfo>).value;
    return {
      appInfo,
      appWebsocket,
    };
  },
})
</script>
