<label for="{{label}}">{{label}}</label>
<textarea name="{{label}}" {{#if variable_to_read}}.value=${ {{variable_to_read}} }{{/if}} @input=${(e: CustomEvent) => { {{variable_to_change}} = (e.target as any).value;} } {{#if required}}required{{/if}} ></textarea>