<script lang="ts">
import { createEventDispatcher, getContext } from 'svelte';
import { InstalledCell, AppWebsocket, InstalledAppInfo, Record, EntryHash, AgentPubKey, ActionHash } from '@holochain/client';
import { appWebsocketContext, appInfoContext } from '../../contexts';
import { {{pascal_case entry_type.singular_name}} } from './types';
import '@material/mwc-button';
{{#each entry_type.fields}}
{{> (concat field_type.type "/create/imports") }}
{{/each}}

let appInfo = getContext(appInfoContext).getAppInfo();
let appWebsocket = getContext(appWebsocketContext).getAppWebsocket();

const dispatch = createEventDispatcher();

{{#each depends_on}}
export let {{camel_case this}}Hash: ActionHash;
{{/each}}

{{#each entry_type.fields}}
  {{#if (not (contains depends_on this)) }}
let {{camel_case @key}}: {{> (concat field_type.type "/type")}} | undefined;
  {{/if}}
{{/each}}

$: {{#each entry_type.fields}}{{camel_case @key}}{{#unless @last}}, {{/unless}}{{/each}};

async function create{{pascal_case entry_type.singular_name}}() {
  const cellData = appInfo.cell_data.find((c: InstalledCell) => c.role_id === '{{dna_role_id}}')!;
  
  const {{camel_case entry_type.singular_name}}: {{pascal_case entry_type.singular_name}} = { 
  {{#each entry_type.fields}}
    {{snake_case @key}}: {{camel_case @key}}!,
  {{/each}}
  };
  
  const record: Record = await appWebsocket.callZome({
    cap_secret: null,
    cell_id: cellData.cell_id,
    zome_name: '{{coordinator_zome_name}}',
    fn_name: 'create_{{snake_case entry_type.singular_name}}',
    payload: {{camel_case entry_type.singular_name}},
    provenance: cellData.cell_id[1]
  });
  dispatch('{{kebab_case entry_type.singular_name}}-created', { actionHash: record.signed_action.hashed.hash });
}
</script>
<div style="display: flex; flex-direction: column">
  <span style="font-size: 18px">Create {{pascal_case entry_type.singular_name}}</span>
  
  {{#each entry_type.fields}}
    {{#if (not (contains depends_on this)) }}
      {{> (concat field_type.type "/create/render") entry_type=../entry_type field_name=@key field_type=this }}
    {{/if}}
  {{/each}}

  <mwc-button 
    label="Create {{pascal_case entry_type.singular_name}}"
    disabled={!( {{#each entry_type.fields}}{{camel_case @key}}{{#unless @last}} && {{/unless}}{{/each}} )}
    on:click="{() => create{{pascal_case entry_type.singular_name}}()}"
  ></mwc-button>
</div>
