<template>
  <div v-if="loading" style="display: flex; flex: 1; align-items: center; justify-content: center">
    <mwc-circular-progress indeterminate></mwc-circular-progress>
  </div>

  <div v-else style="display: flex; flex-direction: column">
    <span v-if="error">Error fetching the {{lower_case (plural ../entry_type.name)}}: {{{{raw}}}} {{error}}.{{{{/raw}}}}</span>
    <div v-else-if="links && links.length > 0" style="margin-bottom: 8px">
      <{{pascal_case ../entry_type.name}}Detail
        v-for="link in links"
        :{{kebab_case ../entry_type.name}}-hash="link.target"
      >
      </{{pascal_case ../entry_type.name}}Detail>
    </div>
    <span v-else>No {{lower_case (plural ../entry_type.name)}} found for this {{lower_case linked_from.name}}.</span>
  </div>

</template>

<script lang="ts">
import { defineComponent, inject, ComputedRef } from 'vue';
import { decode } from '@msgpack/msgpack';
import { AppAgentClient, Record, Link, AgentPubKey } from '@holochain/client';
import '@material/mwc-circular-progress';
import {{pascal_case ../entry_type.name}}Detail from './{{pascal_case ../entry_type.name}}Detail.vue';

export default defineComponent({
  components: {
    {{pascal_case ../entry_type.name}}Detail
  },
  props: {
    {{camel_case linked_from.singular_arg}}: {
      type: Object,
      required: true
    }
  },
  data(): { links: Array<Link> | undefined; loading: boolean; error: any } {
    return {
      links: undefined,
      loading: true,
      error: undefined
    }
  },
  async mounted() {
    if (this.{{camel_case linked_from.singular_arg}} === undefined) {
      throw new Error(`The {{camel_case linked_from.singular_arg}}Hash input is required for the {{pascal_case (plural ../entry_type.name)}}For{{pascal_case linked_from.name}} element`);
    }

    try {
      this.links = await this.client.callZome({
        cap_secret: null,
        role_name: '{{../dna_role_name}}',
        zome_name: '{{../coordinator_zome_manifest.name}}',
        fn_name: 'get_{{snake_case (plural ../entry_type.name)}}_for_{{snake_case linked_from.name}}',
        payload: this.{{camel_case linked_from.singular_arg}},
      });
    } catch (e) {
      this.error = e;
    }
    this.loading = false;
  },
  setup() {
    const client = (inject('client') as ComputedRef<AppAgentClient>).value;
    return {
      client,
    };
  },
})
</script>
