<template>
  <div v-if="!loading">
{{#if crud.update}}
    <div v-if="editing" style="display: flex; flex: 1;">
      <Edit{{pascal_case entry_type.name}}
{{#if link_from_original_to_each_update}}
        :original-{{kebab_case entry_type.name}}-hash="{{camel_case entry_type.name}}Hash"
{{/if}}
        :current-record="record!"
        @{{kebab_case entry_type.name}}-updated="editing = false; fetch{{pascal_case entry_type.name}}();"
        @edit-canceled="editing = false"
      ></Edit{{pascal_case entry_type.name}}>
    </div>
{{/if}}
    <div v-{{#if crud.update}}else-{{/if}}if="record" style="display: flex; flex-direction: column">
      <div style="display: flex; flex-direction: row">
        <span style="flex: 1"></span>
      
{{#if crud.update}}
        <mwc-icon-button style="margin-left: 8px" icon="edit" @click="editing = true"></mwc-icon-button>
{{/if}}
{{#if crud.delete}}
        <mwc-icon-button style="margin-left: 8px" icon="delete" @click="delete{{pascal_case entry_type.name}}()"></mwc-icon-button>
{{/if}}
      </div>

{{#each entry_type.fields}}
  {{#if widget}}	  
    {{#if (not (eq cardinality "vector") )}}
      <div style="display: flex; flex-direction: row; margin-bottom: 16px;">
	<span style="margin-right: 4px"><strong>{{title_case field_name}}: </strong></span>
 	<span style="white-space: pre-line">{{> (concat field_type.type "/" widget "/detail/render") variable_to_read=(concat (camel_case ../entry_type.name) "?." (snake_case field_name) ) }}</span>
      </div>
    {{else}}
      {{> Vec/detail/render variable_to_read=(concat (camel_case ../entry_type.name) "?." (snake_case field_name) ) field_name=field_name field_type=field_type widget=widget }}
    {{/if}}

  {{/if}}
{{/each}}
    </div>
    
    <span v-else>The requested {{lower_case entry_type.name}} was not found.</span>
  </div>

  <div v-else style="display: flex; flex: 1; align-items: center; justify-content: center">
    <mwc-circular-progress indeterminate></mwc-circular-progress>
  </div>

{{#if crud.delete}}
  <mwc-snackbar ref="delete-error" leading>
  </mwc-snackbar>
{{/if}}
</template>

<script lang="ts">
import { defineComponent, inject, ComputedRef } from 'vue';
import { decode } from '@msgpack/msgpack';
import { AppAgentClient, Record, AgentPubKey, EntryHash, ActionHash, DnaHash } from '@holochain/client';
import { {{pascal_case entry_type.name}}{{#each entry_type.fields}}{{#if (eq field_type.type "Enum")}}, {{field_type.label}}{{/if}}{{/each}} } from './types';
import '@material/mwc-circular-progress';
import '@material/mwc-icon-button';
import '@material/mwc-snackbar';
import { Snackbar } from '@material/mwc-snackbar';
{{#uniq_lines}}
  {{#each entry_type.fields}}
    {{#if widget}}
{{> (concat field_type.type "/" widget "/detail/imports") }}

    {{/if}}
  {{/each}}
{{/uniq_lines}}
{{#if crud.update}}
import Edit{{pascal_case entry_type.name}} from './Edit{{pascal_case entry_type.name}}.vue';
{{/if}}

export default defineComponent({
{{#if crud.update}}
  components: {
    Edit{{pascal_case entry_type.name}}
  },
{{/if}}
  props: {
    {{camel_case entry_type.name}}Hash: {
      type: Object,
      required: true
    }
  },
  data(): { record: Record | undefined; loading: boolean; {{#if crud.update}}editing: boolean;{{/if}} } {
    return {
      record: undefined,
      loading: true,
{{#if crud.update}}
      editing: false,
{{/if}}
    }
  },
  computed: {
    {{camel_case entry_type.name}}() {
      if (!this.record) return undefined;
      return decode((this.record.entry as any).Present.entry) as {{pascal_case entry_type.name}};
    }
  },
  async mounted() {
    if (this.{{camel_case entry_type.name}}Hash === undefined) {
      throw new Error(`The {{camel_case entry_type.name}}Hash input is required for the {{pascal_case entry_type.name}}Detail element`);
    }

    await this.fetch{{pascal_case entry_type.name}}();
  },
  methods: {
    async fetch{{pascal_case entry_type.name}}() {
      this.loading = true;
      this.record = undefined;

      this.record = await this.client.callZome({
        cap_secret: null,
        role_name: '{{dna_role_name}}',
        zome_name: '{{coordinator_zome_manifest.name}}',
        fn_name: '{{#if crud.update}}get_latest_{{snake_case entry_type.name}}{{else}}get_{{snake_case entry_type.name}}{{/if}}',
        payload: this.{{camel_case entry_type.name}}Hash,
      });

      this.loading = false;
    },
{{#if crud.delete}}    
    async delete{{pascal_case entry_type.name}}() {
      try {
        await this.client.callZome({
          cap_secret: null,
          role_name: '{{dna_role_name}}',
          zome_name: '{{coordinator_zome_manifest.name}}',
          fn_name: 'delete_{{snake_case entry_type.name}}',
          payload: this.{{camel_case entry_type.name}}Hash,
        });
        this.$emit('{{kebab_case entry_type.name}}-deleted', this.{{camel_case entry_type.name}}Hash);
      } catch (e: any) {
        const errorSnackbar = this.$refs['delete-error'] as Snackbar;
        errorSnackbar.labelText = `Error deleting the {{lower_case entry_type.name}}: ${e.data.data}`;
        errorSnackbar.show();
      }
    }
{{/if}}
  },
  emits: ['{{kebab_case entry_type.name}}-deleted'],
  setup() {
    const client = (inject('client') as ComputedRef<AppAgentClient>).value;
    return {
      client
    };
  },
})
</script>
