<script lang="ts">
import { onMount, getContext } from 'svelte';
import '@material/mwc-circular-progress';
import type { Link, ActionHash, EntryHash, AppAgentClient, Record, AgentPubKey, NewEntryAction } from '@holochain/client';
import { clientContext } from '../../contexts';
import type { {{pascal_case ../entry_type.name}}, {{pascal_case ../coordinator_zome_manifest.name}}Signal } from './types';
import {{pascal_case ../entry_type.name}}Detail from './{{pascal_case ../entry_type.name}}Detail.svelte';

export let {{camel_case linked_from.singular_arg}}: {{linked_from.hash_type}};

let client: AppAgentClient = (getContext(clientContext) as any).getClient();

let hashes: Array<ActionHash> | undefined = [];

let loading: boolean;
let error: any = undefined;

$: hashes, loading, error;

onMount(async () => {
  if ({{camel_case linked_from.singular_arg}} === undefined) {
    throw new Error(`The {{camel_case linked_from.singular_arg}} input is required for the {{pascal_case (plural ../entry_type.name)}}For{{pascal_case linked_from.name}} element`);
  }

  await fetch{{pascal_case (plural ../entry_type.name)}}();

  client.on('signal', signal => {
    if (signal.zome_name !== '{{../coordinator_zome_manifest.name}}') return;
    const payload = signal.payload as {{pascal_case ../coordinator_zome_manifest.name}}Signal;
    if (payload.type !== 'EntryCreated') return;
    if (payload.app_entry.type !== '{{pascal_case ../entry_type.name}}') return;
    hashes = [...hashes, payload.action.hashed.hash];
  });
});

async function fetch{{pascal_case (plural ../entry_type.name)}}() {
  loading = true;
  try {
    const links: Link[] = await client.callZome({
      cap_secret: null,
      role_name: '{{../dna_role_name}}',
      zome_name: '{{../coordinator_zome_manifest.name}}',
      fn_name: 'get_{{snake_case (plural ../entry_type.name)}}_for_{{snake_case linked_from.name}}',
      payload: {{camel_case linked_from.singular_arg}}
    });
    hashes = links.map(l => l.target);
  } catch (e) {
    error = e;
  }
  loading = false;
}

</script>

{#if loading }
<div style="display: flex; flex: 1; align-items: center; justify-content: center">
  <mwc-circular-progress indeterminate></mwc-circular-progress>
</div>
{:else if error}
<span>Error fetching {{lower_case (plural ../entry_type.name)}}: ${error.data.data}.</span>
{:else if hashes.length === 0}
<span>No {{lower_case (plural ../entry_type.name)}} found for this {{lower_case linked_from.name}}.</span>
{:else}
<div style="display: flex; flex-direction: column">
  {#each hashes as hash}
    <div style="margin-bottom: 8px;">
      <{{pascal_case ../entry_type.name}}Detail {{camel_case ../entry_type.name}}Hash={hash} on:{{kebab_case ../entry_type.name}}-deleted={fetch{{pascal_case (plural ../entry_type.name)}}}></{{pascal_case ../entry_type.name}}Detail>
    </div>
  {/each}
</div>
{/if}
