<script lang="ts">
import { createEventDispatcher, getContext } from 'svelte';
import type { AppAgentClient, Record, EntryHash, AgentPubKey, ActionHash } from '@holochain/client';
import { decode } from '@msgpack/msgpack';
import { clientContext } from '../../contexts';
import type { {{pascal_case entry_type.name}}{{#each entry_type.fields}}{{#if (eq field_type.type "Enum")}}, {{field_type.label}}{{/if}}{{/each}} } from './types';
import '@material/mwc-button';
import '@material/mwc-snackbar';
import type { Snackbar } from '@material/mwc-snackbar';
{{#uniq_lines}}
  {{#each entry_type.fields}}
    {{#if widget}}
{{> (concat field_type.type "/" widget "/edit/imports") }}

    {{/if}}
  {{/each}}
{{/uniq_lines}}

let client: AppAgentClient = (getContext(clientContext) as any).getClient();

const dispatch = createEventDispatcher();

{{#if link_from_original_to_each_update}}
export let original{{pascal_case entry_type.name}}Hash!: ActionHash;

{{/if}}
export let currentRecord!: Record;
let current{{pascal_case entry_type.name}}: {{pascal_case entry_type.name}} = decode((currentRecord.entry as any).Present.entry) as {{pascal_case entry_type.name}};

{{#each entry_type.fields}}
  {{#if widget }}
    {{#if (not (eq cardinality "vector" ) )}}
let {{camel_case field_name}}: {{> (concat field_type.type "/type")}} | undefined = current{{pascal_case ../entry_type.name}}.{{snake_case field_name}};
    {{else}}
let {{camel_case field_name}}: Array<{{> (concat field_type.type "/type")}} | undefined> = current{{pascal_case ../entry_type.name}}.{{snake_case field_name}};
    {{/if}}
  {{/if}}
{{/each}}

let errorSnackbar: Snackbar;

$: {{#each entry_type.fields}}{{#if widget}}{{camel_case field_name}}{{#unless @last}}, {{/unless}}{{/if}}{{/each}};
$: is{{pascal_case entry_type.name}}Valid = true{{#each entry_type.fields}}{{#if widget}}{{#if (eq cardinality "single")}} && {{camel_case field_name}} !== undefined{{/if}}{{#if (eq cardinality "vector")}} && {{camel_case field_name}}.every(e => e !== undefined){{/if}}{{/if}}{{/each}};

async function update{{pascal_case entry_type.name}}() {

  const {{camel_case entry_type.name}}: {{pascal_case entry_type.name}} = { 
  {{#each entry_type.fields}}
    {{#if widget}}
      {{#if (eq cardinality "single") }}
    {{snake_case field_name}}: {{camel_case field_name}}!,
      {{else}}
    {{snake_case field_name}}: {{camel_case field_name}}{{#if (eq cardinality "vector") }} as Array<{{> (concat field_type.type "/type") }}>{{/if}},
      {{/if}}
    {{/if}}
  {{/each}}
  {{#each entry_type.fields}}
    {{#if (not widget)}}
    {{snake_case field_name}}: current{{pascal_case ../entry_type.name}}.{{snake_case field_name}},
    {{/if}}
  {{/each}}
  };

  try {
    const updateRecord: Record = await client.callZome({
      cap_secret: null,
      role_name: '{{dna_role_name}}',
      zome_name: '{{coordinator_zome_manifest.name}}',
      fn_name: 'update_{{snake_case entry_type.name}}',
      payload: {
        {{#if link_from_original_to_each_update}}
        original_{{snake_case entry_type.name}}_hash: original{{pascal_case entry_type.name}}Hash,
        {{/if}}
        previous_{{snake_case entry_type.name}}_hash: currentRecord.signed_action.hashed.hash,
        updated_{{snake_case entry_type.name}}: {{camel_case entry_type.name}}
      }
    });
  
    dispatch('{{kebab_case entry_type.name}}-updated', { actionHash: updateRecord.signed_action.hashed.hash });
  } catch (e) {
    errorSnackbar.labelText = `Error updating the {{lower_case entry_type.name}}: ${e.data.data}`;
    errorSnackbar.show();
  }
}

</script>
<mwc-snackbar bind:this={errorSnackbar} leading>
</mwc-snackbar>
<div style="display: flex; flex-direction: column">
  <span style="font-size: 18px">Edit {{pascal_case entry_type.name}}</span>
  
{{#each entry_type.fields}}
  {{#if widget}}
  <div style="margin-bottom: 16px">
    {{#if (not (eq cardinality "vector") )}}
    {{> (concat field_type.type "/" widget "/edit/render") label=(title_case field_name) initial_value_variable=(camel_case field_name) variable_to_change=(camel_case field_name) required=(eq cardinality "single") }}
    {{else}}
    {{> Vec/edit/render field_name=field_name field_type=field_type widget=widget }}
    {{/if}}
    
  </div>

  {{/if}}
{{/each}}

  <div style="display: flex; flex-direction: row">
    <mwc-button
      outlined
      label="Cancel"
      on:click={() => dispatch('edit-canceled')}
      style="flex: 1; margin-right: 16px"
    ></mwc-button>
    <mwc-button 
      raised
      label="Save"
      disabled={!is{{pascal_case entry_type.name}}Valid}
      on:click={() => update{{pascal_case entry_type.name}}()}
      style="flex: 1;"
    ></mwc-button>
  </div>
</div>
